venv/
PRZETWARZANIEZBIOROW20252026/sparkvenv/
sparkvenv/
gpw/
PRZETWARZAZBIOROW20252026/P1 automl/AutogluonModels
PRZETWARZAZBIOROW20252026/P2 Pysparkling/models/
PRZETWARZAZBIOROW20252026/P3 pyspark mllb/models/
PRZETWARZAZBIOROW20252026/P2 Pysparkling/h2ologs/
PRZETWARZAZBIOROW20252026/Project 1 PySpark MLlib/models/
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/_minted

ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.aux
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.log
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.out
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.toc
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.bbl
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.bbl-SAVE-ERROR
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.bcf
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.blg
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.fdb_latexmk
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.fls
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.run.xml
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.synctex.gz