venv/
PRZETWARZANIEZBIOROW20252026/sparkvenv/
sparkvenv/
gpw/
bloomberg_alive.csv
pakiety.txt
requirements.txt
spolki_gpw.csv

PRZETWARZAZBIOROW20252026/P1 automl/AutogluonModels
PRZETWARZAZBIOROW20252026/P2 Pysparkling/models/
PRZETWARZAZBIOROW20252026/P3 pyspark mllb/models/
PRZETWARZAZBIOROW20252026/P2 Pysparkling/h2ologs/
PRZETWARZAZBIOROW20252026/Project 1 PySpark MLlib/models/
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/_minted

ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.aux
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.log
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.out
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.toc
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.bbl
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.bbl-SAVE-ERROR
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.bcf
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.blg
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.fdb_latexmk
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.fls
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.run.xml
ZAAWANSOWANAOPTYMALIZACJA20252026/ProjektSieczne/main.synctex.gz
ASZ/

ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.aux
ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.log
ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.out
ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.toc
ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.bbl
ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.bbl-SAVE-ERROR
ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.bcf
ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.blg
ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.fdb_latexmk
ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.fls
ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.run.xml
ZAAWANSOWANAOPTYMALIZACJA20252026/Projekt2/main.synctex.gz

AFA/Referat/main.aux
AFA/Referat/main.log
AFA/Referat/main.out
AFA/Referat/main.toc
AFA/Referat/main.bbl
AFA/Referat/main.bbl-SAVE-ERROR
AFA/Referat/main.bcf
AFA/Referat/main.blg
AFA/Referat/main.fdb_latexmk
AFA/Referat/main.fls
AFA/Referat/main.run.xml
AFA/Referat/main.synctex.gz

MODELOWANIE20252026/Projekt/doks/
MODELOWANIE20252026/Projekt — kopia/doks/

test.ipynb
test.html
.vscode/
SIECINEURONOWE20252026/20260318/detekcja obiektow/bccd
SIECINEURONOWE20252026/20260318/detekcja obiektow/fruits
SIECINEURONOWE20252026/20260318/segmentacja/car-segmentation
SIECINEURONOWE20252026/20260318/detekcja obiektow/vgg16_fruit_detector.weights.h5
SIECINEURONOWE20252026/20260318/detekcja obiektow/yolov8_bccd_weights.weights.h5
SIECINEURONOWE20252026/20260318/segmentacja/SNiUG_MS_Lab_6.ipynb:Zone.Identifier
SIECINEURONOWE20252026/20260318/detekcja obiektow/SNiUG_MS_Lab_5.ipynb:Zone.Identifier
SIECINEURONOWE20252026/20260318/segmentacja/model_unet.keras
SIECINEURONOWE20252026/20260318/detekcja obiektow/yolov8_bccd_best_ex2.weights.h5